<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table>
      <tr>
        <td><%= f.label :person_name, "Your Name:" %></td>
        <td><%= f.text_field :person_name %></td>
      </tr>
      <tr>
        <td><%= f.label :person_userid, "Your GHC User ID:" %></td>
        <td><%= f.text_field :person_userid %></td>
      </tr>
      <tr>
        <td><%= f.label :num_tofu, "# Tofu Sandwiches:" %></td>
        <td><%= f.select :num_tofu, [1..5] %></td>
      </tr>
      <tr>
        <td><%= f.label :num_chicken, "# Chicken Sandwiches:" %></td>
        <td><%= f.select :num_chicken, [1..5] %></td>
      </tr>
      <tr>
        <td><%= f.label :num_pork, "# Pork Sandwiches:" %></td>
        <td><%= f.select :num_pork, [1..5] %></td>
      </tr>
      <tr><td>(Maximum of 3 sandwiches, please)</td></tr>
    </table>
  </div>
<% end %>
