<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th># Chicken</th>
      <th># Pork</th>
      <th># Tofu</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.person_name %></td>
        <td><%= order.person_userid %></td>
        <td><%= order.num_chicken %></td>
        <td><%= order.num_pork %></td>
        <td><%= order.num_tofu %></td>
        <td><%= order.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
