<div id='header'>
<h1>GHAF <%= MTG_DATE.strftime("%B") %> Meeting</h1>

<h2>Please join us for the Group Health Analyst Forum <%= MTG_DATE.strftime("%B %Y") %> meeting!</h2>
<h3>
Where: <%= MTG_ROOM %><br />
When: <%= MTG_DATE.strftime("%A, %B %-d, %Y") %>, <%= MTG_TIME %>
</h3>
</div>

<div id='main-text'>
<p>
	The Live Wires from the Enterprise Data Warehouse crew are excited to share
	with us the work they've done in building the Pharmacy Detail area.
	They're bringing an all-star list of presenters, including our very own:

	<br />

	<ul>
		<li>Becky Cox</li>
		<li>Sapna Wa</li>
		<li>Jim Davis</li>
		<li>Craig Patnode</li>
		<li>Larry Scheurich</li>
	</ul>
</p>

<p>We will also have a simple networking activity and some time built in to connect with each other. Please come ready to give a short blurb on something you're working on!</p>
</div>

<div id='vn-sand'>
	<% if MTG_SANDWICH == "true" %>
		<%= render "sandwich_yes" %>
	<% else %>
		<%= render "sandwich_no" %>
	<% end %>
</div>
