<div id='header'>
<h1>GHAF <%= MTG_DATE.strftime("%B") %> Meeting</h1>
<h3>
Where: <%= MTG_ROOM %><br />
When: <%= MTG_DATE.strftime("%A, %B %-d, %Y") %>, <%= MTG_TIME %>
</h3>
</div>

<div id='main-text'>
<p>Your sandwich has been ordered.</p>

<p>See you on <%= MTG_DATE.strftime("%B #{MTG_DAY.ordinalize}") %>!</p>
</div>

<div id='vn-sand'>
<p id='cancel'>
	Need to cancel an order?
	Email your friendly <%= mail_to "mack.c@ghc.org", "GHAF leader", subject: "No banh mi for me" %> and let us know.
</p>
</div>

